@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html,
	body,
	:root {
		height: 100%;
		@apply bg-bg;
	}
	::-webkit-scrollbar {
		width: 7.5px;
	}
	::-webkit-scrollbar-track {
		background-color: var(--secondary);
	}
	::-webkit-scrollbar-thumb {
		background: #888;
		border-radius: 10px;
	}
	::-webkit-scrollbar-thumb:hover {
		background: #555;
	}
}
